<html>
requuest oauth



<a href="https://accounts.google.com/o/oauth2/auth?redirect_uri={{redirect_url}}&response_type=code&client_id={{id}}&scope={{scope}}&approval_prompt=force">
	Click to OAUTH
</a>
</html>

<!--
https://accounts.google.com/AccountChooser?service=lso&continue=https%3A%2F%2Faccounts.google.com%2Fo%2Foauth2%2Fauth%3Fscope%3Dhttps%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%2Bhttps%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%26response_type%3Dcode%26access_type%3Doffline%26redirect_uri%3Dhttps%3A%2F%2Fdevelopers.google.com%2Foauthplayground%26approval_prompt%3Dforce%26client_id%3D407408718192.apps.googleusercontent.com%26hl%3Den%26from_login%3D1%26as%3D-7c86845942e39daa&btmpl=authsub&hl=en
-->




